
body{
    background-image: url('img/background_typewriter.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: sandybrown;

    font-family: 'Roboto', 'Helvetica', sans-serif;
}


.tasks_lists_view{
    overflow: visible;
}

.mdl-layout-title{
    color: #FFD393;
    font-size: xx-large !important;
}

.mdl-layout__header-row{
    background:rgba(64,89,82,0.5);
    /*background:#FFD393 ;
    background: linear-gradient(to right, #405952, #9C9B7A, #9C9B7A , #9C9B7A); */
}


.mdl-navigation__link{
    color: black !important;
}

.task_window{
    overflow: visible;
    position: relative;
    text-align: center;
}


.list_window{
    overflow: visible;
    position: relative;
    text-align: center;
}


.list_dropdown_window{
    text-align: center;
    position: relative;
}


.individual-window{
    color: black;
    background-color: #FFD393;
    padding: 20px;
    overflow: visible;
    margin-bottom: 20px !important;
    justify-content: center;
    border: 3px solid #405952;
    /*border: 5px solid #FFD393;*/
}




hr{
    height: 5px !important;
    background-color: #405952;
    border-radius: 2px;
}





.floating_button,  .floating_new_list_button{
    position: absolute;
    bottom: -30px;
    right: 30px;
    overflow: auto;
}


.floating_view_button{
    position: absolute;
    bottom: -30px;
    left: 30px;
    overflow: auto;
}


#save_button{
    background-color: #405952;
    color: #FFD393;
}

/*Styling for lists*/
.completed_task{
    padding: 100px;

    border-radius: 20px;
    background: forestgreen; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, forestgreen , lightgreen); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, forestgreen, lightgreen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, forestgreen, lightgreen); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,lightgreen, #405952 ); /* Standard syntax */
}

.uncomplete_task{
    padding: 100px;
    border-radius: 20px;
    background: #FFD393; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FFD393 , #FF974F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FFD393, #FF974F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FFD393, #FF974F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FF974F , #ff9328); /* Standard syntax */
}


.completed_list{
    background: forestgreen; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, forestgreen , lightgreen); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, lightgreen, forestgreen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, lightgreen, forestgreen); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,#405952,lightgreen); /* Standard syntax */
}

.uncomplete_list{
    background: #FFD393; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FFD393 , #FF974F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FFD393, #FF974F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FFD393, #FF974F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FFD393 , #FF974F); /* Standard syntax */

}
.task-menu-item{
    font-size: 16pt;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}

.task_description_text{
    font-size: 14pt;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#todo-list{margin-bottom: 30px;}

.mdl-data-table{
    background-color: transparent;
}

#list-section{
    background-color: #9C9B7A;
}


#header-text{
    /*text-align: center; */
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 100px;
    border: 5px solid #405952;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    background-color: #FFD393;
    color: #F54F29;
    font-size: larger;
}


.center-items {
    position: relative;
    justify-content: center;
}





.todo_content{
    width: 100%;

}
h1{
    /*color: sandybrown; */
}


#task_list{
    text-align: center;
}

.mdl-list__item-primary-content:hover{
    cursor: pointer;
}



.task-menu-item{
    text-align: center;
    padding: 10px;
}

